@{
    ViewBag.Title = "iasset technical test";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.min.js"></script>
<script src="~/Scripts/App/weather.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />


<div ng-app="mainApp" ng-controller="WeatherController">
    <div ng-view></div>
    <h3>iAsset Weather</h3>
    <scan style="color:red">{{error}}</scan>
    <p>
        <table style="width:80%;" id="rcorners1">
            <tr>
                <td>
                    <input type="text" ng-model="country" placeholder="Enter a country name" />
                </td>
                <td><button class="myButton" ng-click="getCities()">Search Cities</button></td>
                <td>
                    <select ng-model="selectedCity" ng-options="b.City for b in Citylist">
                        <option value="">-- Select a city --</option>
                    </select>
                </td>
                <td>
                    <button class="myButton" ng-click="getWeather()">Get Weather</button>
                </td>
            </tr>
        </table>
    </p>
    <br />
    <h3>Weather Report</h3>
    <table style="width:100%;">
        <tr>
            <td>Location</td>
            <td>{{location}}</td>
        </tr>
        <tr>
            <td>Time</td>
            <td>{{time}}</td>
        </tr>
        <tr>
            <td>Wind</td>
            <td>{{wind}}</td>
        </tr>
        <tr>
            <td>Visibility</td>
            <td>{{visibility}}</td>
        </tr>
        <tr>
            <td>Sky conditions</td>
            <td>{{sky}}</td>
        </tr>
        <tr>
            <td>Temparature</td>
            <td>{{temparature}}</td>
        </tr>
        <tr>
            <td>Dew point</td>
            <td>{{dewPoint}}</td>
        </tr>
        <tr>
            <td>Relative Humidity</td>
            <td>{{humidity}}</td>
        </tr>
        <tr>
            <td>Pressure</td>
            <td>{{pressure}}</td>
        </tr>
    </table>
    <br />
    <br />
    <span>Note: Please click here to compare the values:  <a href='{{urlused}}' target="_blank">{{urlused}}</a></span>
    <br />
</div>
